.info {
    padding-top: 20px;
    padding-bottom: 28px;
}
.header__text {
    font-family: 'matias';
    font-size: 36px;
    line-height: 1;
    padding: 16px 0;
}
.phone__head {
    font-family: 'matias';
    font-weight: bold;
    font-size: 36px;
    line-height: 1.5;
    padding-top: 8px;
}
.opening__hours {
    font-family: 'matias';
    font-size: 22px;
}
.slider {
    margin-bottom: 16px;
}
.section__title {
    font-family: 'matias';
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
    padding-top: 56px;
}
.product {
    font-family: 'matias';
    font-size: 20px;
    margin-top: 26px;
}
.product__name {
    font-family: 'matias';
    font-weight: bold;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.product__price {
    margin-top: 8px;
}
.footer__text {
    font-family: 'matias';
    font-size: 36px;
    padding: 16px 0;
}
.phone__footer {
    font-family: 'matias';
    font-weight: bold;
    font-size: 36px;
    padding-left: 16px;
}
.address {
    font-family: 'matias';
    font-size: 22px;
    padding-left: 16px;
}
@media (max-width: 1024px) {
  .phone__footer, .address {
    text-align: center !important;
  }
}