.info {
    padding-top: 20px;
    padding-bottom: 20px;
}
.header__text {
    font-family: 'matias';
    font-size: 36px;
    line-height: 1;
    padding: 16px 0;
}
.phone__head {
    font-family: 'matias';
    font-weight: bold;
    font-size: 36px;
    line-height: 2.7;
}
.slider {
    margin-bottom: 56px;
}
.product {
    font-family: 'matias';
    font-size: 20px;
}
.product__name {
    font-family: 'matias';
    font-weight: bold;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.product__price {
    margin-top: 8px;
}
.footer__text {
    font-family: 'matias';
    font-size: 36px;
    padding: 16px 0;
}
.phone__footer {
    font-family: 'matias';
    font-weight: bold;
    font-size: 36px;
    padding: 16px 0;
}