.deliv__text {
    font-family: 'matias';
    font-size: 36px;
}
.phone__head {
    font-family: 'matias';
    font-weight: bold;
    font-size: 36px;
}
.slider {
    margin-bottom: 56px;
}
.product {
    font-family: 'matias';
    font-size: 20px;
}
.product__name {
    font-family: 'matias';
    font-weight: bold;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.product__price {
    margin-top: 8px;
}