-var pageTitle = "Кальянная Smoke Room Нахабино недорого покурить кальян"

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='yandex-verification', content='672bbf7ed8b0d929')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Нахабино кальянная, Нахабино недорого покурить кальян')
        title= pageTitle
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='libs/bootstrap/bootstrap.css')
        link(rel='stylesheet', href='libs/fotorama/fotorama.css')
        //if lt IE 9
            script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
            <![endif]
    body
        .container
            .row.header
                .col-md-2
                    .kalyan__logo
                        img(src='img/logo_kalyan.png', alt='Кальянная Smoke Room Нахабино, недорого покурить кальян')
                .col-md-6
                    .menu
                        .menu__item
                            a(href='/index.html') Пицца
                        .menu__item
                            a(href='/rolly.html') Роллы
                        .menu__item
                            a(href='javascript:void(0);') Кальян
                        .menu__item
                            a(href='javascript:void(0);', onclick="myScrollTo('map');") Контакты
                .col-md-4
                    .kalyan__phone 8 926 865-77-50
                    .kalyan__opening Красноармейская ул., 61а
            .row
                .col-md-12
                    .header__text Уютная атмосфера для дружной компании
            .row.slider.hidden-xs
                .col-md-12
                    .fotorama(data-width='100%', data-height='520px', data-nav='false', transitionduration='100', data-loop='true', data-autoplay='3000', data-stopautoplayontouch='false', data-fit='cover', data-max-width='100%')
                        img(src='img/kalyan_slide01.jpg', alt='Кальянная Smoke Room Нахабино слайд 1', width='100%')
                        img(src='img/kalyan_slide02.jpg', alt='Кальянная Smoke Room Нахабино слайд 2', width='100%')
                        img(src='img/kalyan_slide03.jpg', alt='Кальянная Smoke Room Нахабино слайд 3', width='100%')
                        img(src='img/kalyan_slide04.jpg', alt='Кальянная Smoke Room Нахабино слайд 4', width='100%')
            .row
                .col-sm-6.col-md-4
                    .product
                        img(src='img/kalyan/tabak_darkside.jpg', alt='Кальян Darkside', width='50%')
                        .product__name Кальян Darkside
                        .product__price
                            ul.product__price__option
                                li На обычной чаше — 850 р
                                li На фрукте — 950 р
                .col-sm-6.col-md-4
                    .product
                        img(src='img/kalyan/tabak_fumari.jpg', alt='Кальян Fumari', width='50%')
                        .product__name Кальян Fumari
                        .product__price
                            ul.product__price__option
                                li На обычной чаше — 650 р
                                li На фрукте — 750 р
                .col-sm-6.col-md-4
                    .product
                        img(src='img/kalyan/tabak_nakhla.jpg', alt='Кальян Nakhla', width='50%')
                        .product__name Кальян Nakhla
                        .product__price
                            ul.product__price__option
                                li На обычной чаше — 500 р
                                li На фрукте — 600 р
                .col-sm-6.col-md-4
                    .product
                        img(src='img/kalyan/tabak_nirvana.jpg', alt='Кальян Nirvana', width='50%')
                        .product__name Кальян Nirvana
                        .product__price
                            ul.product__price__option
                                li На обычной чаше — 750 р
                                li На фрукте — 850 р
                .col-sm-6.col-md-4
                    .product
                        img(src='img/kalyan/tabak_adalya.jpg', alt='Кальян Adalya', width='50%')
                        .product__name Кальян Adalya
                        .product__price
                            ul.product__price__option
                                li На обычной чаше — 400 р
                                li На фрукте — 500 р
                .col-sm-6.col-md-4
                    .product
                        img(src='img/kalyan/tabak_alfakher.jpg', alt='Кальян Al Fakher', width='50%')
                        .product__name Кальян Al Fakher
                        .product__price
                            ul.product__price__option
                                li На обычной чаше — 400 р
                                li На фрукте — 500 р
            .row.vyberimix
                .col-sm-12.col-md-6
                    img(src='img/kalyan/vyberi_mix.jpg', alt='Выбери свой микс', width='100%')
                .col-sm-12.col-md-6
                    .vyberimix__title Выбери свой вкус или микс
                    .vyberimix__text
                        | киви • мята • бабл гам • ананас • малина • вишня • манго • гуава • бабл гам фрукт • манго айс • кактус • арбуз • лимон пай • дыня • апельсин - ананас •персик • апельсин • черника • виноград
            .row.map
                .container
                    .map__title Наш адрес в Нахабино
                    script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=EPfqlIN-bf_hCOaQ1PkR1U05lA-hca7E&amp;width=100%25&amp;height=470&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=false")
            .row.footer
                .col-md-2
                    .kalyan__logo
                        img(src='img/logo_kalyan.png', alt='Кальянная Smoke Room Нахабино, недорого покурить кальян')
                .col-md-6
                    .menu
                        .menu__item
                            a(href='/index.html') Пицца
                        .menu__item
                            a(href='/rolly.html') Роллы
                        .menu__item
                            a(href='javascript:void(0);') Кальян
                        .menu__item
                            a(href='javascript:void(0);') Контакты
                .col-md-4.text-left
                    .kalyan__phone 8 926 865-77-50
                    .kalyan__address Красноармейская ул., 61а
        script(src='libs/jquery/jquery.min.js')
        script(src='libs/bootstrap/bootstrap.min.js')
        script(src='libs/fotorama/fotorama.js')
        script(src='js/app.js')
        // Yandex.Metrika counter
        script(type='text/javascript').
            (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
            try {
            w.yaCounter36895210 = new Ya.Metrika({
            id:36895210,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
            });
            } catch(e) { }
            });
            var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";
            if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        noscript
            div
                img(src='https://mc.yandex.ru/watch/36895210', style='position:absolute; left:-9999px;', alt='')
        // /Yandex.Metrika counter
